extends _layout

block content
    
    h1 #{page_title}
    p &nbsp;
    p We are glad to welcome you to Books-a-million, the premier club for avid book readers.
    p Freely browse through our rich collection of books from every part of the world.
    p We also wish to encourage you to <a href='/user/register'>Register</a> as a member and then <a href='/user/login'>Sign In</a>, to be able to contribute to the club, by adding new titles to the collection and editing existing titles.
    p Enjoy!
    p &nbsp;
    p Signed: 
        i Obinna A. Kalu, Club Moderator
